<!doctype html>
<html>
	<head>
		<title>Muddy Paws Adventure Gear</title>
		<meta name="description" content="Muddy Paws Adventure Gear contact page">
		<meta name="keywords" content="contact cat dog hiking gear equipment leash tracker pet">
		<link rel="stylesheet" href="../styles/style.css">
		<link rel="stylesheet" href="../styles/profile.css">

		<!-- Transfering in a google font Open Sans, Free for all use -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
	</head>
	<body>

		<!-- Navigation at the top of the page which is reflected in all 3 pages -->
		<nav>
			<ul>
			  <li><p id = "topStoreIcon">MPAG</p></li>
			  <li><a class="nonIcon" href="../index.html">Products</a></li>
			  <li><a class="active">Contact</a></li>
			  <li><a href="about.html">About</a></li>
			</ul>
			<a class = "cart" href="../index.html#cartItems"><img alt = "image of a shopping cart" src="../images/icons/shopping-cart-solid.svg"><span id = "cartNumItems">0</span></a>
			<a class = "user" href="profile.html"><img alt="image of a shopping cart" src="../images/icons/user.svg"></a>
		</nav>

		<div id="myContainer" class = "flex">
			<div class = "inner left-box">
					<div class = "flex title border">
						<div class = "inner"><h1>Account settings</h1></div>
						<div class = "inner image"><img src = "../images/icons/edit.svg"></div>
					</div>
					<div class = "border bottom">
						<span>Name</span><span class ="small-text right">Swetha Kannan</span>
						<span>Email</span><span class ="small-text right">swethak@andrew.cmu.edu</span>
						<span>Username</span><span class ="small-text right">swethak</span>
						<span>Password</span><span class ="small-text right">********</span>
					</div>
					<div class = "flex title border">
						<div class = "inner"><h1>Account settings</h1></div>
						<div class = "inner image"><span>-</span></div>
					</div>
					<div class = "border bottom order-details">
						<span>Order number</span><span class ="right">Date</span>
						<span class ="small-text">#112234</span><span class ="right small-text">01/23/2021</span>
						<span class ="small-text">#112234</span><span class ="right small-text">01/23/2021</span>
						<span class ="small-text">#112234</span><span class ="right small-text">01/23/2021</span>
					</div>
					<div class = "flex title border">
						<div class = "inner"><h1>My payment options</h1></div>
						<div class = "inner image"><span>+</span></div>
					</div>
			</div>
			<div class = "inner right-box">
				<h1>Order Summary</h1>
				<div class = "order-list">
					<div class = "item flex">
						<div class = "inner image">
							<img alt="image of the product" src="../images/test.png">
						</div>
						<div class = "inner product">
							<h2>Product Name</h2>
							<p class = "small-text">Color: Black</p>
							<p class = "small-text">Size: Small</p>
							<p class = "small-text">Quantity: 1</p>
						</div>
						<div class = "inner price">
							<p>$45</p>
						</div>
					</div>
					<div class = "item flex">
						<div class = "inner image">
							<img alt="image of the product" src="../images/test.png">
						</div>
						<div class = "inner product">
							<h2>Product Name</h2>
							<p class = "small-text">Color: Black</p>
							<p class = "small-text">Size: Small</p>
							<p class = "small-text">Quantity: 1</p>
						</div>
						<div class = "inner price">
							<p>$45</p>
						</div>
					</div>
					<div class = "item flex">
						<div class = "inner image">
							<img alt="image of the product" src="../images/test.png">
						</div>
						<div class = "inner product">
							<h2>Product Name</h2>
							<p class = "small-text">Color: Black</p>
							<p class = "small-text">Size: Small</p>
							<p class = "small-text">Quantity: 1</p>
						</div>
						<div class = "inner price">
							<p>$45</p>
						</div>
					</div>
				</div>
				<div class = "shipping">
					<h1>Tracking</h1>
					<div class = "flex tracker">
						<div class = "inner">
							<p class = "small-text">Via USPS</p>
							<p class = "small-text">Tracking #: 33 1223 1244 12 55</p>
							<p class = "small-text"><a>Track via USPS.com</a></p>
							<br>
							<p class = "small-text">Expected delivery: </p>
							<p class = "small-text">Jan. 27 by end of date</p>
						</div>
						<div class = "inner timeline">
							<div class = "box flex startEnd">
								<span class = "inner small-text"><b>Order has shipped</b></span>
								<span class = "inner small-text right">Jan. 25</span>
							</div>
							<div class = "line-div"></div>
							<div class = "box flex">
								<span class = "inner small-text"><b>Order has arrived in City</b></span>
								<span class = "inner small-text right">Jan. 25</span>
							</div>
							<div class = "line-div"></div>
							<div class = "box flex">
								<span class = "inner small-text"><b>Order has arrived in City</b></span>
								<span class = "inner small-text right">Jan. 25</span>
							</div>
							<div class = "line-div"></div>
							<div class = "box flex startEnd">
								<span class = "inner small-text"><b>Out for delivery</b></span>
								<span class = "inner small-text right">Jan. 25</span>
							</div>
						</div>
					</div>
				</div>
				<a  id="no-underline"><button  id="checkoutButton">Cancel Order</button></a>
			</div>
		</div>
	</body>
	<footer>
		<script type="text/javascript" src="../scripts/updateCart.js"></script>
		<p id ="bottomCredit" class = "aboutFooter">Images from FontAwesome.com and Flickr.com</p>
	</footer>
</html>