
$gold: #FFB84D;
$ocean: #202830;
$foods: #000;
$coronavirus: #08445C;
$star_wars: #14151B;
// These are all styles for my main index page. They fill also form the basis of other page styles
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;

    .topper{
        height: calc(100vh - 63px); //the 63px takes care of the height of the nav menu up top
    }

    #container{
        max-width:900px;
        width:100%;
        margin: auto;
    }

    .topNav{
        background: black;
        color: white;
        overflow: hidden;
        a {
            float: right;
            color: #f2f2f2;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
            font-size: 17px;
          }
        a.left{
            float: left;
            font-weight: bold;
            font-size: 30px;
            position: absolute;
            padding-top: 10px;
            
            .title{
                font-weight: normal;
                font-size: 20px;
                padding-left:15px;
            }
        }
        a.left:hover {
            background-color: rgba(0, 0, 0, 0);
            color: white;
          }
        a:hover {
            background-color: #ddd;
            color: black;
          }
        a.active {
            background-color: #444444;
            color: white;
          }
    }
    #about.flex{
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    #about{
        max-width: 1300px;
        margin:auto;
        width: 100%;
        vertical-align: middle;
        // .inner{
        //     margin-top:30%!important;
        // }
        h1{
            font-weight: bold;
            font-size: 40px;
            line-height: 54px;
            text-align: center;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 25px;
            color: #000000;
            text-align: left;
        }
        p.hi{
            text-align: center;
        }
        a{
            color: black;
        }
        span{
            padding: 0px 10px;
        }
        .hi{
            margin-bottom: 0px;
        }
        .links{
            text-align: center;
        }
        .pronounce{
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: #7D7D7D;
            margin-top: 0px;
        }
        .image{
            padding:30px;
            width:500px;
            img{
                width:100%;
            }
        }
        .text{
            width:500px;
        }
    }

    #portfolio{
        ul{
            list-style-type:none;
        }
        .template-Project{
            width:400px;
            padding: 5px;
            margin-bottom: 50px;
          
          img{
            width:100%;
            box-shadow: 0px 0px 10px #e3e3e3;
          }

          p{
            color:grey;
            margin-top: 8px;
          }
          a{
              color: black;
              text-decoration: none;
          }
        }
        .flex{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            padding: 0;
            margin: 0;

            .inner{
                flex-direction: row;
            }
        }
    }

    #contact{
        margin-top:100px;
        text-align: center;
        color: black;
        h2{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
            margin-top: 0px;
            letter-spacing: 1px;
        }
        p{
            color: #727272;
            font-size: 17px;
            text-decoration: none;
            }
        a{
            text-decoration: none;
            p{
                font-size: 12px;
                margin-top: 0px;
            }
        }
        .imageSet{
            margin: auto;
            text-align: center;
            margin-bottom: 100px;
        }
        .flex{
            width: fit-content;
            margin:auto;
        }
        .icon{
            width: 40px;
            height: 40px;
            margin: 10px 20px 5px 20px;
        }
    }

    .contain{
        max-width:1300px;
        margin: auto;
    }
    
}

.flex{
    display: flex;
    .inner{

    }
}

.topper{
    height: calc(100vh - 63px); //the 63px takes care of the height of the nav menu up top
    width:100%;
    h1{
        font-size: 50px;
    }
    h1.center{
       padding-top:20vh;
       margin-top: 0px;
        width: 100%;
        text-align: center;
    }
}
.high-level-summary{
    width: fit-content;
    margin: auto;
    margin-top:80px;
    margin-bottom:80px;

    h2{
        text-align: center;
    }
    img{
        max-width:200px;
    }
    ul{
        margin-left:70px;
        list-style-type:none;
        line-height: 23px;
        label{
            font-weight: bold;
            display: block;
            margin-top:20px;
        }
    }
}
.the-deets{
    background: black;
    .flex{
        padding: 50px 0px;
        max-width: 1300px;
        margin: auto;
        justify-content: space-evenly;
    }
    .inner{
        width:300px;
    }
    h2{
        color:$gold;
        font-size: 15px;
    }
    h3{
        color:white;
        font-size: 23px;
    }
    p{
        color:white;
        font-size: 15px;
    }
}

.ocean_game{
    .topper{

        background-image: url('../images/projects/beaches/topper/desktop.jpg');
        border-bottom: 1px solid grey;
        background-size: cover;
        background-position: bottom;
    }
}