body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
body .topper {
  height: calc(100vh - 63px);
}
body #container {
  max-width: 900px;
  width: 100%;
  margin: auto;
}
body .topNav {
  background: black;
  color: white;
  overflow: hidden;
  position: sticky;
  top: 0;
}
body .topNav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}
body .topNav a.left {
  float: left;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  padding-top: 10px;
}
body .topNav a.left .title {
  font-weight: normal;
  font-size: 20px;
  padding-left: 15px;
}
body .topNav a.left:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
body .topNav a:hover {
  background-color: #ddd;
  color: black;
}
body .topNav a.active {
  background-color: #444444;
  color: white;
}
body #about.flex {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body #about {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  vertical-align: middle;
}
body #about h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
body #about p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
  text-align: left;
}
body #about p.hi {
  text-align: center;
}
body #about a {
  color: black;
}
body #about span {
  padding: 0px 10px;
}
body #about .hi {
  margin-bottom: 0px;
}
body #about .links {
  text-align: center;
}
body #about .pronounce {
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #7D7D7D;
  margin-top: 0px;
}
body #about .image {
  padding: 30px;
  width: 500px;
}
body #about .image img {
  width: 100%;
}
body #about .text {
  width: 500px;
}
body #portfolio ul {
  list-style-type: none;
}
body #portfolio .template-Project {
  width: 400px;
  padding: 5px;
  margin-bottom: 50px;
}
body #portfolio .template-Project img {
  width: 100%;
  box-shadow: 0px 0px 10px #e3e3e3;
}
body #portfolio .template-Project p {
  color: grey;
  margin-top: 8px;
}
body #portfolio .template-Project a {
  color: black;
  text-decoration: none;
}
body #portfolio .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
body #portfolio .flex .inner {
  flex-direction: row;
}
body #contact.darkBG {
  margin-top: 0px;
  padding-top: 100px;
  color: white;
  padding-bottom: 100px;
}
body #contact {
  margin-top: 100px;
  text-align: center;
  color: black;
}
body #contact h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0px;
  letter-spacing: 1px;
}
body #contact p {
  color: #727272;
  font-size: 17px;
  text-decoration: none;
}
body #contact a {
  text-decoration: none;
}
body #contact a p {
  font-size: 12px;
  margin-top: 0px;
}
body #contact .imageSet {
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}
body #contact .flex {
  width: fit-content;
  margin: auto;
}
body #contact .icon {
  width: 40px;
  height: 40px;
  margin: 10px 20px 5px 20px;
}
body .contain {
  max-width: 1200px;
  margin: auto;
  border-left: 1px solid grey;
  padding-left: 40px;
  padding-bottom: 80px;
}
body .contain h2::before {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #FFB84D;
  content: "";
  border-radius: 50px;
  position: absolute;
  margin-left: -56px;
}
body .contain .text .first {
  margin-top: 0px;
  padding-top: 0px;
}
body .image-caption {
  font-size: 12px;
  color: grey;
  margin-top: 0px;
}

.flex {
  display: flex;
}
.topper {
  height: calc(100vh - 63px);
  width: 100%;
}
.topper h1 {
  font-size: 50px;
}
.topper .center {
  padding-top: 20vh;
  margin-top: 0px;
  width: 100%;
  text-align: center;
}

.high-level-summary {
  width: fit-content;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
}
.high-level-summary h2 {
  text-align: center;
}
.high-level-summary img {
  max-width: 200px;
}
.high-level-summary ul {
  margin-left: 70px;
  list-style-type: none;
  line-height: 23px;
}
.high-level-summary ul label {
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

.the-deets .flex {
  padding: 50px 0px;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}
.the-deets .inner {
  width: 300px;
}
.the-deets h2 {
  color: #FFB84D;
  font-size: 15px;
}
.the-deets h3 {
  color: white;
  font-size: 23px;
}
.the-deets p {
  color: white;
  font-size: 15px;
}

.understand-problem-space, .the-process, .the-results {
  margin-top: 80px;
  margin-bottom: 0px;
}
.understand-problem-space h2, .the-process h2, .the-results h2 {
  font-size: 25px;
  text-transform: uppercase;
}
.understand-problem-space img, .the-process img, .the-results img {
  width: 100%;
}
.understand-problem-space .inner, .the-process .inner, .the-results .inner {
  width: 50%;
}
.understand-problem-space .text, .the-process .text, .the-results .text {
  padding-left: 100px;
}

.goals {
  padding: 0px;
  margin-top: -20px;
}
.goals h2 {
  color: white;
  padding-top: 80px;
}

.the-process {
  padding: 0px;
  margin-top: -20px;
}
.the-process h2 {
  padding-top: 80px;
}

.the-results {
  padding: 0px;
  margin-top: -20px;
}
.the-results .contain {
  border: none;
  margin-top: -20px;
}
.the-results .line {
  height: 80px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding-left: 40px;
  border-left: 1px solid grey;
}

.ocean_game .topper {
  background-image: url("../images/projects/beaches/topper/desktop.jpg");
  background-size: cover;
  background-position: bottom;
}
.ocean_game .topper h1 {
  background-color: rgba(255, 255, 255, 0.724);
  width: fit-content;
  margin: auto;
  padding: 20px;
}
.ocean_game .darkBG {
  background-color: #202830;
  color: white;
}

/*# sourceMappingURL=style.css.map */
