
/*Lets take care of navbar here*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

li {
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
}

li a {
  display: block;
  padding: 8px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 0px 50px;
  padding-top: 7px;
  text-decoration: none;
}
li a:hover{
	font-weight: bold;
}

#topStoreIcon{
	font-size: 50px;
	line-height: 50px;
	margin: 0;
	margin-left: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color:  #B3B3B3;
	padding-right: 30px;
}

nav img{
	width: 30px;
	height: auto;
}
.cart{
	margin-right: 0px;
	right: 10px;
	top: 10px;
	position: absolute;
}
/* Styles for topper */
.topper img{
	width:250px;
	padding:10px;
}
.topper{
	margin-top:70px;
	margin-bottom:70px;
}
/* styles for step 1 */
.buttons img{
	height: 40px;
	padding:15px 30px;
}
.buttons button{
	margin:20px 40px;
	background: white;
	border: solid 1px black;
	cursor: pointer;
	border-radius: 10px;
}
.buttons button.checked{
	background: rgb(234, 234, 234);
	border: none;
}
.buttons .dogCat img{
	padding-right: 20px;
	padding-left: 20px;
}

/* checkout styles */
.checkout button{
	margin-bottom: 50px;
	width: 230px;
	padding: 18px;
	margin-top: 50px;
	font-size: 20px;
	background: rgb(252, 223, 148);
	border: solid 1px black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.checkout .items{
	font-size: 15px;
	text-align: right;
	border-bottom: solid 1px black;
}


/*body styles*/
body{
	padding: 0;
	margin: 0;
}
#myContainer{
	max-width: 650px;
	width: 100%;
	display: block;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.allProduct {
	display: flex;
}
.allProduct img{
	width: 90%;
	display: block;
	margin: auto;
}
.allProduct h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	  font-size: 20px;
	margin-top: 0px;
}
.allProduct p{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 0px;
}
.oneProduct{
	padding: 20px;
	flex: 1;
	flex-wrap: wrap;
	max-width: 170px;
	cursor: pointer;
}
.oneProduct:hover{
	border: solid 1px black;
}
.remove{
	height: 0;
	width: 0;
	display: none;
}

/*Lets take care of the shopping cart overlay*/
#shoppingOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#shoppingOverlay .content{
	width: 100%;
    max-width: 650px;
    height: fit-content;
    
    top: 50%;
    background: white;
    margin: auto;
    margin-top: 10%;
    display: block;

}
#shoppingOverlay h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	margin-top: -20px;
	padding-top: 0px;
}

#shoppingOverlay .productImg{
	width: 80%;
	padding-left: 20px;
}
#shoppingOverlay .item{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 0px;
}

#shoppingOverlay .select{
	font-family: 'Open Sans', sans-serif;
	border: solid 1px grey;
	width: fit-content;
    padding: 6px;
    margin-top: 0px;
}
.select img{
	width: 10px;
	padding-left: 20px;
}

#overlayProductDescription{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.flex{
	display: flex;
}
.flex .inner{
	flex: 1;
}
#shoppingOverlay .inner{
	width: 50%;
}
.plusMinus{
	font-size: 20px;
	padding: 0px 10px;
}

.cross{
	width: 20px;
	padding: 10px;
}
.closeButton{
	border: none!important;
	background: white!important;
	cursor: pointer;
}
#shoppingOverlay .submit{
	background: rgb(255, 225, 170);
	border: solid 2px black!important;
	width: 90%;
	margin-left: -30px;
	padding: 10px 10px;
	font-size: 14px;
	margin-bottom:50px;
	cursor:pointer;
}