<!doctype html>
<html lang="en">
	<head>
		<title>Swetha Kannan's portfolio - Ocean Game</title>
		<meta name="description" content="Swetha Kannan UX UI Designer Portfolio - Ocean Game">
		<meta name="keywords" content="UX UI Designer Portfolio indian woman user experience human-computer interaction ocean game california">
		<!-- bringing in the style sheet -->
		<link rel="stylesheet" href="../styles/style.css">

		<!-- Transfering in a google font Open Sans, Free for all use -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
	<!-- Navigation at the top of the page which is reflected in all pages. Tutorial used: https://www.w3schools.com/howto/howto_js_topnav.asp -->
		<nav class = "topNav">
			<a class = "left">Swetha Kannan<span class = "title">UX/UI Designer</span></a>
			<a href="#contact">Connect</a>
			<a href="#portfolio">Projects</a>
			<a class="active" href="#about">About</a>
		</nav>
	<!-- Container indicates how wide all elements on page can go -->
		<div id = 'container'>

			<!-- Here is where the actual content of the page should go -->

			<div id="contact" class = "imageSet">
				<h2>Let's connect</h2>
				<nav class = "flex">
					<a class = "inner" alt = 'Link to my instagram' href="https://www.instagram.com/limedumplr/"><img class="icon" src="../images/icons/instagram.svg" alt = "instagram icon" ><p>Instagram</p></a>
					<a class = "inner" alt = 'Link to my github' href="https://github.com/swethakan"><img class="icon" src="../images/icons/github.svg" alt = "github icon" ><p>Github</p></a>
					<a class = "inner" alt = 'Link to my twitter' href="https://twitter.com/swetha_kan"><img class="icon" src="../images/icons/twitter.svg" alt = "twitter icon" ><p>Twitter</p></a>
					<a class = "inner" alt = 'Link to my linkedin' href="https://www.linkedin.com/in/swetha-kannan-b5a14791/"><img class="icon" src="../images/icons/linkedin.svg" alt = "linkedIn icon" ><p>Linkedin</p></a>
				</nav>
			</div>
		</div>	
	</body>
	<footer>
		<!-- Now loading in the javascript to add functionality. -->
		<script type="text/javascript" src="../scripts/script.js"></script>
	</footer>
</html>